# ToWatchList.com API Key (required)
TWL_API_KEY=your_api_key_here

# The local directory to save videos to.
# This is used by the 'run-local' make target.
# For the 'run' target, the download location is set by the volume mount in the Makefile.
TWL_DOWNLOAD_LOCATION=./videos

# Optional: Set to "true" to generate .nfo metadata files for Kodi
TWL_WRITE_NFO_FILES=false

# Optional: Set to "true" to download to a temporary location before moving.
TWL_DOWNLOAD_TO_TMP=true

# Optional: Kodi connection details
# TWL_KODI_HOSTNAME=
# TWL_KODI_PORT=8080
# TWL_KODI_USER=
# TWL_KODI_PASSWORD=
