# ToWatchList.com API Key (required)
TWL_API_KEY=your_api_key_here

# Optional: Number of days to look back for new videos.
TWL_LOOKBACK_DAYS=28

# Optional: Path to a Netscape format cookies file for YouTube.
# The file path should be the path *inside* the container (e.g., /config/cookies.txt).
YOUTUBE_COOKIES_FILE=/config/cookies.txt

# Optional: Set to "true" to generate .nfo metadata files for Kodi
TWL_WRITE_NFO_FILES=true

# Optional: Comma-separated list of SponsorBlock categories to mark as chapters.
# See https://wiki.sponsor.ajay.app/w/Category_Types for a full list.
SPONSORBLOCK_CATEGORIES=sponsor,intro,outro,selfpromo,preview,music_offtopic

# Optional: Kodi connection details
# TWL_KODI_HOSTNAME=
# TWL_KODI_PORT=8080
# TWL_KODI_USER=
# TWL_KODI_PASSWORD=

# LOG_LEVEL: Set the logging level (e.g., DEBUG, INFO, WARNING, ERROR, CRITICAL). Default is INFO.
# LOG_LEVEL=INFO
